*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #E4EDF2;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}
.navbar{
    height: 150px;
    width: 100%;
    background: #24116A;
    border-radius: 0px 0px 30px 30px;
}


/* Toggle button and icon-bar image */

.logo img{
    margin-left: 150px;
    margin-top: -50px;
}
.navbar-toggle{
    border: none;
    margin-left: 200px;
}
.img-menu{
    background-color:#24116A;
    border: none;
}

.navbar-collapse{
    background-color: #24116A;
    border-radius: 0px 0px 30px 30px;
    padding: 20px 20px 20px 20px;
    width: 300px;
    height: 300px;
    margin-left: 70px;
    
}




/* navigation links */

.nav-links a{
    color: white;
}
.nav-links a:hover{
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.active{
    color: white;
    font-weight: bold;
}
.nav-links{
    margin-top: 20px;
    text-align: center;
}

/* Grid system for textarea */

.col-3{
    margin-top: 280px;
}
.col-md-9{
    background: rgba(255, 255, 255, 0.9);
    margin-top: 150px;
    height: fit-content;
    color: #555555;
    border-radius: 5px 0px 0px 0px;
    z-index: -1;
}

/* response in text area */

.question{
    font-weight: bold;
    color: #2F2E41;
    ;
}


/* bottom image */

.col-2 img{
    position: absolute;
    left: -100px;
    top: -100px;
    z-index: -1;
}

/* footer */
.footer{
    margin-top: 150px;
}


/* MOBILE RESPONSIVENESS */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) { 
    
    body{
        width: 100%;
    }
    .logo img{
        margin-left: 100px;
    }
    .navbar-toggle{
        margin-left: 160px;
    }
    .navbar-collapse{
        margin-left: 25px;
    }
    .col-3{
        margin-top:0px;
    }
    .col-md-9{
        height: 100vh;
        width: 100%;
    }
   
    
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) { 
    body{
        width: 100%;
    }
    .logo img{
        margin-left: 100px;
    }
    .navbar-toggle{
        margin-left: 160px;
    }
    .navbar-collapse{
        margin-left: 30px;
    }
    .col-3{
        margin-top:0px;
    }

    .bottom img{
        /* visibility: hidden; */
        position: absolute;
        left: -105px;
        width: 180px;
    }
    .col-md-9{
        height: fit-content;
        width: 100%;
       
    }

 }

/* Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
     body{
        width: 100%;
    }
    .col-md-9{
        height: fit-content;
        width: 100%;
    }
    .col-2 img{
        position: absolute;
        left: -100px;
        top: -100px;
        z-index: -1000;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
    .col-md-9{
        margin-top: 300px; 
        }
    }